<a href="https://colab.research.google.com/github/cslearning20xx/exploration/blob/master/Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

import sklearn
from sklearn.datasets.samples_generator import make_blobs 
from sklearn.model_selection import train_test_split

# Load the library with the iris dataset
from sklearn.datasets import load_iris

# Load scikit's random forest classifier library
from sklearn.ensemble import RandomForestClassifier

from IPython.display import SVG
import graphviz 
from graphviz import Source
from sklearn import tree

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.datasets.samples_generator module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.datasets. Anything that cannot be imported from sklearn.datasets is now part of the private API.
  warnings.warn(message, FutureWarning)

In [11]:
# Create an object called iris with the iris data
iris = load_iris()

# Create a dataframe with the four feature variables
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df['species'] = labelencoder.fit_transform(df['species'])
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2        0
1                4.9               3.0  ...               0.2        0
2                4.7               3.2  ...               0.2        0
3                4.6               3.1  ...               0.2        0
4                5.0               3.6  ...               0.2        0

[5 rows x 5 columns]

In [0]:
X_train, X_test, y_train, y_test = train_test_split( df.drop('species', axis=1), df['species'], test_size = 0.3 )

In [52]:
classifier = RandomForestClassifier(n_estimators= 100)
classifier.fit(X_train, y_train)
print(f'Model Accuracy: {classifier.score(X_train, y_train)}')

y_pred = classifier.predict(X_test)

print(sklearn.metrics.accuracy_score(y_test, y_pred))
#print(sklearn.metrics.confusion_matrix(y_test, y_pred))
pd.crosstab(y_test, y_pred , rownames=['Actual'], colnames=['Predicted'])

Model Accuracy: 0.9904761904761905
0.9333333333333333

Predicted   0   1  2
Actual
0          15   0  0
1           0  18  2
2           0   1  9

In [19]:
list(zip( X_train.columns, classifier.feature_importances_))

[('sepal length (cm)', 0.16258365621765808),
 ('sepal width (cm)', 0.013317661701832125),
 ('petal length (cm)', 0.2825261254558614),
 ('petal width (cm)', 0.5415725566246483)]